/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Circus scheme by Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12) */

window {
	background-color: #191919;
	color: #a7a7a7;
}

#entry:nth-child(odd) {
	background-color: #191919;
}

#entry:nth-child(even) {
	background-color: #202020;
}

#entry:selected {
	background-color: #303030;
}

#input {
	background-color: #202020;
	color: #505050;
	border-color: #303030; 
}

#input:focus {
	border-color: #c3ba63; 
}
