.base00 { color: #191919; }
.base01 { color: #202020; }
.base02 { color: #303030; }
.base03 { color: #5f5a60; }
.base04 { color: #505050; }
.base05 { color: #a7a7a7; }
.base06 { color: #808080; }
.base07 { color: #ffffff; }
.base08 { color: #dc657d; }
.base09 { color: #4bb1a7; }
.base0A { color: #c3ba63; }
.base0B { color: #84b97c; }
.base0C { color: #4bb1a7; }
.base0D { color: #639ee4; }
.base0E { color: #b888e2; }
.base0F { color: #b888e2; }

.base00-background { background-color: #191919; }
.base01-background { background-color: #202020; }
.base02-background { background-color: #303030; }
.base03-background { background-color: #5f5a60; }
.base04-background { background-color: #505050; }
.base05-background { background-color: #a7a7a7; }
.base06-background { background-color: #808080; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #dc657d; }
.base09-background { background-color: #4bb1a7; }
.base0A-background { background-color: #c3ba63; }
.base0B-background { background-color: #84b97c; }
.base0C-background { background-color: #4bb1a7; }
.base0D-background { background-color: #639ee4; }
.base0E-background { background-color: #b888e2; }
.base0F-background { background-color: #b888e2; }
